{% layout 'layout.liquid' %}
{% block content %}
    <!-- we need to account for two conditions here -->
    <!-- first, if we have wines in our array -->
    <!-- second, if there are no wines in the array -->
    {% if wines.length > 0 %}
        <div class="container-md">
            <h2>All Wines</h2>
            <div class="row">
                {% for wine in wines %}
                    <div class="card me-3 mb-3" style="width: 18rem;">
                        <h5 class="card-header text-danger">{{ wine.brand }}</h5>
                        <div class="card-body text-danger">
                            <h5 class="card-title">
                                {% if wine.dateTasted %}
                                    This wine has been tasted for quality assurance purposes
                                {% else %}
                                    Not tasted! Could be poison!
                                {% endif %}
                            </h5>
                            {% if wine.ratings.length > 0 %}
                            <p class="card-text text-danger">Avg rating: {{ wine.avgRating }}/5</p>
                            {% else %}
                                <small>no ratings yet...</small>
                            {% endif %}
                            <p class="card-text text-danger">The color of this {{ wine.brand }} wine is: </p>
                            <div class="colorBox mb-2" style="background-color: {{wine.color}};"></div>
                            <a href="/wines/{{ wine.id }}" class="btn btn-info">View {{ wine.brand }}</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <div class="container-md">
            <h2>No wine yet... Go drinking!</h2>
        </div>
    {% endif %}
{% endblock %}